<div class="navbar navbar-custom">
    <div class="container-fluid">
        <div class="col-12 col-md-4" id="footerSocials">
            <ul class="social-links">
                <li><a href="https://www.facebook.com/PhillStack/"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/PhillstackDev"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://github.com/Phillstack"><i class="fab fa-github"></i></a></li>
            </ul>
        </div>
        <div class="col-12 col-md-4">
            <h6 class="copyright">Copyright &copy; 2019 by Phillstack</h6>
        </div>
        <div class="col-12 col-md-4">
            <h6 class="Phill">Phillstack <small>Web &amp; App Development</small></h6>
        </div>
    </div>
</div>
