<div class="navbar navbar-custom">
    <div class="container-fluid">
        <div class="col-12 col-md-4" id="footerSocials">
            <a href="https://www.facebook.com/PhillStack/" style="padding-right: 20px;" target="_blank"><img src="../../assets/facebook.png" alt="Facebook Logo"></a>
            <a href="https://twitter.com/PhillstackDev" style="padding-right: 20px;" target="_blank"><img src="../../assets/Twitter.png" alt="Twitter Logo"></a>
            <a href="https://github.com/Phillstack" target="_blank"><img src="../../assets/github.png" alt="Github Logo"></a>
        </div>
        <div class="col-12 col-md-4">
            <h6 class="copyright">© 2018 Phillstack</h6>
        </div>
        <div class="col-12 col-md-4">
            <h6 class="Phill">Phillstack <small>Web &amp; App Development</small></h6>
        </div>
    </div>
</div>