<div class="cover">
	<div class="cover-text">
        <img class="profilePic" src="../../assets/glasses.jpg">
		<h1 id="featured-text">Mark Phillips</h1>
		<hr>
		<h5 class="lead"><strong>Mobile &amp; Software Developer</strong></h5>
		<br>
        <a scrollTo href="#aboutMe"><div class="arrow"></div></a>
	</div>
</div>

<section class="about" id="aboutMe">
    <h1>Mark Phillips</h1>
    <br>
    <p>Creative Full-Stack web developer, as well as native iOS developer via Swift. I have roughly 3 years of self taught web experience building full responsive web applications with a focus on the sites being easy to navigate with a clean design. I also build robust mobile apps via Swift for iOS. Taking technical ideas and bringing them to life in a simple, elegant mobile app has always been a passion of mine.</p>
    <br>
    <p>Whether I'm building a mobile app or website, I like to build projects with the whole picture in mind. I avoid building things page by page, but try to build the project to feel like one unified experience. I build projects much like I write music, where elements of every page intertwine throughout my apps and sites. I like to make sites that feel familiar while being new and fresh.</p>
    <br>
    <p>With iOS I tend to build applications with Swift and utilize tools such as Firebase and Cocoapods. For my front end process I tend to build sites with Sass, Bootstrap and ANgular 5. I also work great in a team setting, utilizing tools such as Git and am agile in my development process, working closely with my clients and frequently getting new features out to them to find out what is and is not working as soon a possible. I use NPM to build all my sites and test for various devices with mobile and desktop.</p>
</section>

<section class="tools">
	<h1>Tools that I use</h1>
        <div class="col-12" id="first">
            <li><img src="../../assets/swiftLogo.png"></li>
            <li><img src="../../assets/cocoapodsLogo.png"></li>
            <li><img src="../../assets/firebaseLogo.png"></li>
        </div>
        <div class="col-12 2nd" id="second">
            <li><img src="../../assets/angularLogo.png"></li>
            <li><img src="../../assets/webDevLogos.png"></li>
        </div>
        <div class="col-12" id="third">
            <li><img src="../../assets/awsLogo.png"></li>
            <li><img src="../../assets/gitLogo.png"></li>
            <li><img src="../../assets/googleAnalyticsLogo.png"></li>
        </div>
</section>

<section class="contact" id="contactMark">
	<div class="contactForm">
        <h2>Contact Me!</h2>
        <div class="row">
            <div class="col-6">
                <img class="contactPic" src="../../assets/gameFace.jpg">
            </div>
            <div class="col-6">
                <ul>
                    <br>
                    <li><a href="http://www.github.com/mphill05" target="_blank"><i class="fab fa-github-alt"></i>Github</a></li>
                    <li><a href="http://www.linkedin.com/in/mphill05" target="_blank"><i class="fab fa-linkedin"></i>Linkedin</a></li>
                    <li><a href="../../assets/MarkPhillips.pdf">View Resume</a></li>
                    <li><a href="mailto:mphill05@gmail.com">Email Me</a></li>
                </ul>
            </div>
        </div>
	</div>
</section>