.container {
    background: url(../../assets/gpsMap.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    height: 710px;
    width: 100%;
}

.contactForm {
    background-color: rgba(0,0,0,0.75);
    width: 35%;
    padding-bottom: 30px;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
}

h2, label {
    text-align: center;
    color: #EB454C;
}