img {
    background: transparent;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 0;
    outline : none;
    cursor: pointer;
}

.mainLogo {
    height: 100px; 
    width: 150px;
    top: 20px;
}

@media (max-width: 956px) {
    .mainLogo {
        height: 75px;
        width: 100px;
    }
}

a, a:active, a:focus{
	text-decoration: none;
	outline: none;
	transition: all .2s ease;
}

h1{
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 14px;
}

h2{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    margin-top: 0px;
}

#toggle{
    position: fixed;
    right: 50px;
    top: 50px;
    width: 50px;
    height: 50px;
    z-index: 150;
    margin-right: 5px;
}

#toggle ul{
    margin: auto;
    text-align: center;
    list-style-type: none;
    width: 17px;
    height: 50px;
}


#toggle ul li{
    position: relative;
    width: 17px;
    height: 12px;
    cursor: pointer;
}

#toggle ul li a{
	display: block;
	width: 100%;
	height: 100%;
}

#toggle ul li a:hover span{
	transition: all .4s ease;
	background-color: #5F7C8A;
}

#toggle.toggled ul li a span{
	background-color: #444;
    z-index: 99999;
}


#toggle ul li span{
    position: absolute;
    left: 0px;
    width: 17px;
    height: 2px;
    background-color: #999;
    &.line.l2{
        top: 50%;
    }
    &.line.l3{
        top: 100%;
    }
}

#nav > ul {
   padding-left: 0px;
}

#toggle ul li span.line {
    transition: all .4s ease;
}

#toggle.toggled ul li span.l1 {
    transform: translateY(6px) translateX(0px) rotate(45deg);
}

#toggle.toggled ul li span.l2 {
    opacity: 0
}

#toggle.toggled ul li span.l3 {
    transform: translateY(-6px) translateX(0px) rotate(-45deg);
}

section.panel#full-screen-nav{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    opacity: 0;
    transition: all 1000ms;
    z-index: 99;
    pointer-events: none;
	&.active{
        opacity: .95;
		pointer-events: auto;
        overflow: hidden;
        position: fixed;
		nav#nav{
            ul li{
				opacity: 1;
				transform:translateY(0px);
				transition: all .5s ease;
				&:nth-child(2){
					transition-delay: .2s;
				}
				&:nth-child(3){
					transition-delay: .4s;
				}
				&:nth-child(4){
					transition-delay: .6s;
				}
				&:nth-child(5){
					transition-delay: .8s;
				}
			}
		}
	}
}

.desc {
    text-align: center;
}

nav#nav{
	position: relative;
	height: 100%;
	ul{
		position: absolute;
        width: 100%;
		top: 200px;
        text-align: center;
		list-style-type: none;
		li{
			border-bottom: 1px solid #ddd;
			padding-bottom: 25px;
            padding-left: 30px;
            padding-right: 30px;
			opacity: 0;
            display: inline-block;
			&:not(:first-child){
				padding-top: 25px;
			}
			a{
				color: #444;
				font-weight: 700;
				font-size: 32px;
                text-align: center;
                align-content: center;
				span{
					display: block;
					font-size: 16px;
					color: #777;
					font-weight: 300;
					transition: all .2s ease;
				}
				&:hover{
					color: #00e5ff;
					span{
						color: #AAA;
					}
				}
			}
		}
	}
}

section.panel#intro{
    width: 100%;
    height: 100vh;
  article{
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  article header{
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    h1{
      color: #fff;
    }
    h2{
       color: #999;
    }
  }
}