<img src="../../assets/tempPhillstackLogo.svg" class="mainLogo" alt="Phillstack Logo" routerLink="/">

<div id="toggle" (click)="toggleNav()" [class.toggled]="navToggle === true">
	<ul>
		<li>
            <span class="line l1"></span>
            <span class="line l2"></span>
            <span class="line l3"></span>
        </li>
	</ul>
</div>

<section id="full-screen-nav" class="panel" [class.active]="navToggle === true">
	<nav id="nav">
		<ul>
			<li><a href="https://www.linkedin.com/in/gphill93/" target="blank" (click)="toggleNav()">Grant<span class="desc">Developer</span></a></li>
			<li><a href="https://www.linkedin.com/in/mphill05/" target="blank"  (click)="toggleNav()">Mark<span class="desc">Developer</span></a></li>
		</ul>
	</nav>
</section>
