<img src="../../assets/tempPhillstackLogo.svg" class="mainLogo" style="height: 100px; width: 200px;" alt="Phillstack Logo" routerLink="/">

<div id="toggle" (click)="toggleNav()" [class.toggled]="navToggle === true">
	<ul>
		<li>
            <span class="line l1"></span>
            <span class="line l2"></span>
            <span class="line l3"></span>
        </li>
	</ul>
</div>

<section id="full-screen-nav" class="panel" [class.active]="navToggle === true">
	<nav id="nav">
		<ul>
            <li><a routerLink="/" (click)="toggleNav()">Home<span>Main Page</span></a></li>
			<li><a routerLink="#" (click)="toggleNav()">Grant<span class="desc">Coming Soon</span></a></li>
			<li><a routerLink="/mark" (click)="toggleNav()">Mark<span class="desc">Developer</span></a></li>
		</ul>
	</nav>
</section>
