html, body{
    height:100%;
}

body{
    overflow-x:hidden;
}

section {
    position: relative;
    z-index: 0;
}

.response {
    color: wheat;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.ng-invalid.ng-untouched {
	border-left: none;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.invalid-form {
	background: transparent;
    border: none;
    outline: none;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #a94442;
}

.arrow {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left:-20px;
    width: 40px;
    height: 40px;
    background-image: url(../../assets/arrow.png);
    background-size: contain;
}

@media(max-width: 768px) {
	#featured-text {
	  font-size: 16vw;
	}
	.cover-text * {
		position: relative;
		z-index: 1;
	}
}

@media(min-width: 769px) {
	.cover {
		padding: 0 20%;
	}
    .arrow {
        bottom: 0;
    }
}

.cover {
    display: table;
    width: 100%;
    box-shadow: inset 0 0 100px #000; 
    background:  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../../assets/code.jpg) no-repeat center center fixed; 
    background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/code.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.cover-text {
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
    span {
        position: absolute;
        vertical-align: bottom;
        bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}

.cover-text h1 {
    margin: 0;
    font-size: 70px;
    text-shadow: 5px 5px 3px #000;
}

.lead {
    color: #00e5ff;
//    font-weight: bold;
    text-shadow: 3px 3px 3px #000;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #05c4b4, #2980b9);
    background-image: -moz-linear-gradient(top, #05c4b4, #2980b9);
    background-image: -ms-linear-gradient(top, #05c4b4, #2980b9);
    background-image: -o-linear-gradient(top, #05c4b4, #2980b9);
    background-image: linear-gradient(to bottom, #05c4b4, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    color: #333333;
    text-decoration: none;
}

hr {
    width: 40%;
}

.about {
    background: #f4f4f4;
    height: auto;
    width: 100%;
    margin: auto;
    h4 {
        text-align: center;
    }
}

.SEO, .analytics, .speed {
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: block;
    box-shadow: 5px 5px 5px #888888;
}

.projects {
    background-color: #05c4b4;
    box-shadow: inset 0 0 100px #000;
    .btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

 .boombox, .barber, .msdos {
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #333;
}

.coffi {
    height: 550px;
    width: auto;
    margin: auto;
    color: #333;
}

.testimonials {
    background: #333;
}

.testimonials h2 {
    color: #05c4b4;
}

blockquote {
    border: none;
    margin: 0;
    font-family: Georgia, Times, serif;
    font-style: italic;
    font-size: 32px;
    color: white;
}

cite {
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
    color: #888;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 75px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 20px;
    vertical-align: middle;
}

.contact {
	width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../../assets/gpsMap.jpg) fixed; 
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/gpsMap.jpg) fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    h2, label {
        color: #05c4b4;
    }
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 60px;
}

.contactForm {
    background-color: rgba(0,0,0,0.75);
    margin: auto;
    right: 0;
    left: 0;
    border-radius: 25px;
    padding: 20px;
    .btn {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.form-control {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #05c4b4;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    color: #00C4B4;
}

.subscribe {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Media Queries */

@media( min-width: 1025px ) {
	.contactForm {
		margin-left: 25%;
		margin-right: 25%;
	}
}

@media( max-width: 768px ) {
	.subscribe {
		width: 70%;
   }
}

@media( min-width: 769px) {
	.subscribe {
		width: 60%;
	}
}

@media only screen and ( max-width : 849px ) {
    h1 {
        font-size: 40px;
    }
    section {
        padding: 20px;
    }
    blockquote {
        text-align: center;
        font-size: 20px;
    }
    
    .contactForm {
        margin-top: 0;
        padding: inherit;
        width: 100%;
    }
    
    .boombox .msdos .barber {
        width: 300px;
        height: 150px;
        margin: auto;
    }
}

