<div class="cover">
	<div class="cover-text">
        <img class="profilePic" src="../../assets/grantPro.jpeg">
		<h1 id="featured-text">Grant Phillips</h1>
		<hr>
		<h5 class="lead"><strong>Software Engineer</strong></h5>
		<br>
        
	</div>
    <a scrollTo href="#aboutMe"><div class="arrow"></div></a>
</div>

<section class="about" id="aboutMe">
    <h1>Grant Phillips</h1>
    <p></p>
</section>

<section class="tools">
	<h1>Tools that I use</h1>
        <div class="col-12" id="first">
            <li><img src="../../assets/javaLogo.png"></li>
            <li><img src="../../assets/springLogo.png"></li>
            <li><img src="../../assets/firebaseLogo.png"></li>
        </div>
        <div class="col-12 2nd" id="second">
            <li><img src="../../assets/angularLogo.png"></li>
            <li><img src="../../assets/webDevLogos.png"></li>
            <li><img src="../../assets/bootstrapLogo.png"></li>
        </div>
        <div class="col-12" id="third">
            <li><img src="../../assets/awsLogo.png"></li>
            <li><img src="../../assets/gitLogo.png"></li>
            <li><img src="../../assets/googleAnalyticsLogo.png"></li>
        </div>
</section>

<section class="contact" id="contactGrant">
	<div class="contactForm">
        <h2>Contact Me!</h2>
        <div class="row">
            <div class="col-6">
                <img class="contactPic" src="../../assets/gameFace.jpg">
            </div>
            <div class="col-6">
                <ul>
                    <br>
                    <li><a href="https://github.com/gfilet" target="_blank">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/gphill93" target="_blank">Linkedin</a></li>
                    <li><a href="https://www.bitbucket.org/gphill" target="_blank">Bitbucket</a></li>
                    <li><a href="../../assets/MarkPhillips.pdf" target="_blank">Resume</a></li>
                    <li><a href="mailto:gphill93@gmail.com">Email Me</a></li>
                </ul>
            </div>
        </div>
	</div>
</section>