html, body{
    height:100%;
}

body{
    overflow-x:hidden;
}

section {
    position: relative;
    z-index: 0;
}

.response {
    color: wheat;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.profilePic {
    height: 175px;
    width: 160px;
    margin: auto;
    border-radius: 65%;
}

.arrow {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left:-20px;
    width: 40px;
    height: 40px;
    background-image: url(../../assets/arrow.png);
    background-size: contain;
}

@media(max-width: 768px) {
	#featured-text {
	  font-size: 10vw;
	}
	.cover-text * {
		position: relative;
		z-index: 1;
	}
}

@media(min-width: 769px) {
	.cover {
		padding: 0;
	}
}

.cover {
    display: table;
    width: 100%;
    box-shadow: inset 0 0 100px #000; 
    background: url(../../assets/sanFran.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5); /*can be anything, of course*/
}

.cover-text {
    text-align: center;
    color: #2196F3;
    display: table-cell;
    vertical-align: middle;
    span {
        position: absolute;
        vertical-align: bottom;
        bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}

.cover-text h1 {
    margin: 0;
    font-size: 70px;
    text-shadow: 5px 5px 3px #000;
}

.lead {
    color: #4FC3F7;
//    font-weight: bold;
    text-shadow: 3px 3px 3px #000;
}

hr {
    width: 40%;
}

.about {
    background: #0336FF;
    height: auto;
    width: 100%;
    margin: auto;
    h4 {
        text-align: center;
    }
}

.about h1 {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px #000;
    padding-bottom: 20px;
}

.about p {
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 20px;
    color: white;
    text-shadow: 3px 3px 3px #000;
}

.contact {
	width: 100%;
    background: url(../../assets/Richmond.png) fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    h2, label {
        color: #05c4b4;
    }
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 60px;
}

.contactForm {
    display: inline-block;
    background-color: rgba(0,0,0,0.75);
    margin: auto;
    border-radius: 25px;
    padding: 20px 0px;
    width: 50%;
}

.form-control {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #05c4b4;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    color: #00C4B4;
}

.col-6 ul li {
    display: block;
    list-style-type: none;
    text-align: center;
}

.col-6 ul li a {
    color: #00C4B4;
}

.contactPic {
    margin: auto;
    height: 150px;
    border-radius: 60%;
}

.tools {
    text-align: center;
    width: 100%;
    background: #3F51B5;
    box-shadow: inset 0 0 100px #000;
}

.tools .col-12 li {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
}

.tools img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 65px;
}

#first img {
    padding: 5px;
}

#second img {
    padding: 5px;
}

#third img {
    padding: 12px;
}

/* Media Queries */

@media( min-width: 1025px ) {
	.contactForm {
		display: block;
        margin: auto;
	}
    
}

@media( max-width: 768px ) {
	.subscribe {
		width: 70%;
   }
    
    .about p {
        padding: 50px;
        font-size: 12px;
        margin: auto;
    }
}

@media( max-width: 849px ) {
    .about h1 {
        font-size: 12px;
    }
    
    .about p {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
        font-size: 12px;
        margin: auto;
    }
    
    .tools h1 {
        font-size: 20px;
    }
    
    .tools img {
        height: 40px;
    }
    
}

@media only screen and ( max-width : 849px ) {
    h1 {
        font-size: 40px;
    }
    section {
        padding: 20px;
    }
    blockquote {
        text-align: center;
        font-size: 20px;
    }
    
    .contactForm {
        margin-top: 0;
        padding: inherit;
        width: 100%;
    }
    
    .about h1 {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        font-size: 20px;
    }
    
    .about p {
        padding: 50px;
        font-size: 16px;
        margin: auto;
    }
    
    .contactPic {
        height: 125px;
    }
}

